#/********************************************************************/
#/*                                                                  */
#/* Name: ubbstxcn.cfg                                               */
#/*                                                                  */
#/* Description: Sample UBBCONFIG file for the IBM MQ sample         */
#/*              transaction for Tuxedo                              */
#/*                                                                  */
#/* Environment: Windows                                             */
#/* <copyright                                                       */
#/* notice="lm-source-program"                                       */
#/* pids="5724-B41,"                                                 */
#/* years="1994,2016"                                                */
#/* crc="2105323492" >                                               */
#/* Licensed Materials - Property of IBM                             */
#/*                                                                  */
#/* 5724-B41,                                                        */
#/*                                                                  */
#/* (C) Copyright IBM Corp. 1994, 2016 All Rights Reserved.          */
#/*                                                                  */
#/* US Government Users Restricted Rights - Use, duplication or      */
#/* disclosure restricted by GSA ADP Schedule Contract with          */
#/* IBM Corp.                                                        */
#/* </copyright>                                                     */
#/********************************************************************/
#
# Replace the <bracketed> items with the appropriate values.
# Edit directory paths as necessary

*RESOURCES
IPCKEY        99999
UID           0
GID           0
MAXACCESSERS  20
MAXSERVERS    20
MAXSERVICES   50
MASTER        SITE1
MODEL         SHM
LDBAL         N

*MACHINES
<MachineName> LMID=SITE1
              TUXDIR=    "f:\tuxedo"
              APPDIR=    "f:\tuxedo\apps\mqapp;g:\mqm\bin"
              ENVFILE=   "f:\tuxedo\apps\mqapp\amqstxen.env"
              TUXCONFIG= "f:\tuxedo\apps\mqapp\tuxconfig"
              ULOGPFX=   "f:\tuxedo\apps\mqapp\ULOG"
              TLOGDEVICE="f:\tuxedo\apps\mqapp\TLOG"
              TLOGNAME=TLOG
              TYPE="i386NT"
              UID=0
              GID=0

*GROUPS
GROUP1
        LMID=SITE1  GRPNO=1
        TMSNAME=MQXA
        OPENINFO="MQSeries_XA_RMI:MYQUEUEMANAGER"

*SERVERS
DEFAULT: CLOPT="-A -- -m MYQUEUEMANAGER"

MQSERV1     SRVGRP=GROUP1 SRVID=1
MQSERV2     SRVGRP=GROUP1 SRVID=2

*SERVICES
MPUT1
MGET1
MPUT2
MGET2
